.image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--imagePicker-color);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px var(--imagePicker-color),
    inset 0px 0px 10px var(--primary-color), 0px 0px 5px rgb(255, 255, 255);
}

.icon {
  color: var(--imagePicker-color);
  font-size: 2rem;
  cursor: pointer;
}

.image-input {
  visibility: hidden;
}

.image-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
