.text-area {
  text-align: center;
  font-size: 17px;
  color: rgb(255, 255, 255);
  border-radius: 7px;
  letter-spacing: 2px;
  min-height: 100px;
  background-color: rgba(193, 196, 194, 0.5);
  border: 2px solid rgba(193, 196, 194, 0.5);
  resize: none;
  box-sizing: border-box;
}
