#root {
  --primary-color: rgba(134, 112, 144, 0.4);
  --link-color: rgb(43, 80, 70);
  --imagePicker-color: black;
}

body {
  margin: 0 auto;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  /* background-image: url(./assets/logo.jpg); */
  background-color: rgb(202, 193, 204);
}

.main-container {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
