.input-container {
  text-align: center;
  background-color: transparent;
  border: 0;
  border-bottom: 1px rgb(202, 193, 204) solid;
  width: 100%;
  padding: 25px 0;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 4px;
  margin: 0 auto;
}

.input-container:focus {
  outline: 0;
  border-bottom-color: rgb(255, 255, 255);
}

.input-container::placeholder {
  color: rgb(255, 255, 255);
}

.error-container {
  color: red;
}
